<p>
  login works!
  {{loginInfo.name}}
  {{loginInfo.pwd}}
  <input [(ngModel)]="loginInfo.name" placeholder="name">

  <input [(ngModel)]="loginInfo.pwd" type="password" placeholder="name">
</p>

  <div class="container">
<div class="row">
  <div class="col-md-5">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
</div>
</div>